In [1]:
import pandas as pd
import numpy as np

In [2]:
#1.Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.
import pandas as pd
df = pd.read_csv('Datasets\OnlineRetail.csv', encoding = "ISO-8859-1")
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [4]:
print("Số dòng của dữ liệu là: ", df.shape[0])
print("Số cột của dữ liệu là: ", df.shape[1])
df.info()

Số dòng của dữ liệu là:  541909
Số cột của dữ liệu là:  8
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [7]:
#2. Trích xuất dữ liệu các cột Description và Quantity lưu vào file OnlineRetail.csv
df2 = df.loc[:,['Description','Quantity']]
df2

                                Description  Quantity
0        WHITE HANGING HEART T-LIGHT HOLDER         6
1                       WHITE METAL LANTERN         6
2            CREAM CUPID HEARTS COAT HANGER         8
3       KNITTED UNION FLAG HOT WATER BOTTLE         6
4            RED WOOLLY HOTTIE WHITE HEART.         6
...                                     ...       ...
541904          PACK OF 20 SPACEBOY NAPKINS        12
541905         CHILDREN'S APRON DOLLY GIRL          6
541906        CHILDRENS CUTLERY DOLLY GIRL          4
541907      CHILDRENS CUTLERY CIRCUS PARADE         4
541908        BAKING SET 9 PIECE RETROSPOT          3

[541909 rows x 2 columns]

In [8]:
df2.to_csv('OnlineRetail_BT.csv')

In [ ]:
# 3.Trích xuất dữ liệu 1000 dòng đầu tiên lưu vào file OnlineRetail.xlsx
df3 = df.iloc[0:1000]
df3

In [10]:
df3.to_excel('OnlineRetail.xlsx')

In [11]:
# 4.Trích xuất các bản ghi có số lượng từ 10 trở lên lưu vào file OnlineRetail.h5
df4 = df.loc[df.Quantity >= 10]
df4

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/2010 8:45,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,12/1/2010 8:45,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,12/1/2010 8:45,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,0.85,12583.0,France
...,...,...,...,...,...,...,...,...
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France

In [12]:
df.to_hdf('OnlineRetail.h5', 'table')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3164\851366380.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['InvoiceNo', 'StockCode', 'Description', 'InvoiceDate', 'Country'], dtype='object')]

  df.to_hdf('OnlineRetail.h5', 'table')

In [15]:
# 5.Trích xuất dữ liệu các phần tử từ dòng 1000 đến dòng 2000, 
# các cột Quantity, InvoiceDate, UnitPrice lưu vào file OnlineRetail.json
df5 = df.iloc[1000:2001].loc[:,['Quantity','InvoiceDate','UnitPrice']]
df5

      Quantity      InvoiceDate  UnitPrice
1000         1  12/1/2010 12:43       1.25
1001         1  12/1/2010 12:43       1.25
1002         1  12/1/2010 12:43       1.25
1003         1  12/1/2010 12:43       1.25
1004        12  12/1/2010 12:43       0.29
...        ...              ...        ...
1996         1  12/1/2010 14:34       2.95
1997         3  12/1/2010 14:34       1.65
1998         1  12/1/2010 14:34       4.95
1999         1  12/1/2010 14:34       2.95
2000         2  12/1/2010 14:34       1.25

[1001 rows x 3 columns]

In [16]:
df5.to_json('OnlineRetail.json',orient='columns')

In [18]:
# 6.Trích xuất các bản ghi có số hóa đơn ‘536365’ lưu vào file OnlineRetail.html
df6 = df.loc[df.InvoiceNo == '536365']
df6

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom

In [19]:
df6.to_html('OnlineRetail.html')