In [1]:
import pandas as pd
df=pd.read_csv('Datasets\FoodPrice_in_Turkey.csv')
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [2]:
#Đổi ten cột thuộc tính
df.rename(columns={'Place':'Địa điểm','ProductName':'Tên SP'},inplace=True)
df.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [3]:
df

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [4]:
# Thêm một cột mới với tất cả các giá trị rỗng NaN
df['new_column'] = 'NaN'
df.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,new_column
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN

In [5]:
# Thêm cột giảm giá 10% cho tất cả các bản ghi
# Cách 1: Gán tên cột dưới dạng một chuỗi và thêm giá trị cho cột đó

df['Giảm giá']= pd.Series('10%', index=df.index)
df.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,new_column,Giảm giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN,10%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN,10%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN,10%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN,10%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN,10%

In [6]:
# Thêm cột giảm giá 12% cho tất cả các bản ghi
# Cách 2: Sử dụng phương thức insert() gồm 3 đối số
# - đối số đầu tiên là chỉ mục (vị trí) muốn chèn cột mới (chỉ mục là 10--> cột mới được thêm vào vị trí 11 của DataFrame)
# - đối số thứ hai là tên của cột mới muốn chèn 
# - đối số thứ ba giá trị của cột

df.insert(10,'Giảm giá 2',pd.Series('12%', index=df.index))
df.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,new_column,Giảm giá,Giảm giá 2
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN,10%,12%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN,10%,12%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN,10%,12%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN,10%,12%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN,10%,12%

In [7]:
# Sử dụng phương thức append() thêm một dòng vào cuối DataFrame

df=df.append({'Địa điểm':'NA','ProductId':'RR','Tên SP':'Rice','UmId':10,\
              'UmName':'KG','Month':6,'Year':2021,'Price':84.3785,\
              'Giảm giá':'10%','Giảm giá 2':'12%'},ignore_index=True)
df.tail()  # Hiển thị 5 bản ghi cuối

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10384\517836943.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append({'Địa điểm':'NA','ProductId':'RR','Tên SP':'Rice','UmId':10,\

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,new_column,Giảm giá,Giảm giá 2
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN,10%,12%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN,10%,12%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN,10%,12%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN,10%,12%
7381,NA,RR,Rice,10,KG,6,2021,84.3785,NaN,10%,12%

In [8]:
# Xóa một cột sử dụng hàm del
del df['new_column']
df.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,Giảm giá,Giảm giá 2
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,10%,12%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,10%,12%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,10%,12%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,10%,12%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,10%,12%

In [9]:
# Xóa một cột sử dụng phương thức pop()
# Phương thức pop trả về cột đã xóa

df.pop('Giảm giá 2')

0       12%
1       12%
2       12%
3       12%
4       12%
       ...
7377    12%
7378    12%
7379    12%
7380    12%
7381    12%
Name: Giảm giá 2, Length: 7382, dtype: object

In [10]:
# Xóa một cột sử dụng phương thức drop() 
# Cú pháp: df.drop('column_name', axis=1, inplace=True)
# Trong đó axis = 1 là xóa cột; inplace = True xóa trục tiếp trên dữ liệu gốc 
#mà không phải tạo bản sao

df.drop('Giảm giá', axis=1, inplace=True)
df

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,Giảm giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,10%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,10%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,10%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,10%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,10%
...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,10%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,10%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,10%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,10%
7381,NA,RR,Rice,10,KG,6,2021,84.3785,10%

In [11]:
# Xóa nhiều cột sử dụng phương thức drop()
df.drop(['Month','Year'], axis=1, inplace=True)
df

,Địa điểm,ProductId,Tên SP,UmId,UmName,Price,Giảm giá
0,National Average,52,Rice - Retail,5,KG,4.4920,10%
1,National Average,52,Rice - Retail,5,KG,4.5786,10%
2,National Average,52,Rice - Retail,5,KG,4.7865,10%
3,National Average,52,Rice - Retail,5,KG,5.1337,10%
4,National Average,52,Rice - Retail,5,KG,5.5099,10%
...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,49.1176,10%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,50.8347,10%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,51.7985,10%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,51.6071,10%
7381,NA,RR,Rice,10,KG,84.3785,10%

In [12]:
# Cú pháp: df.drop(Chỉ số dòng cần xóa, axis=0, inplace=True)
# axis = 0 là giá trị mặc định có thể viết tường minh hoặc không
# Xóa dòng có chỉ số 1 (dòng thứ 2) sử dụng phương thức drop()

df.drop(1, axis = 0, inplace=True)
df

,Địa điểm,ProductId,Tên SP,UmId,UmName,Price,Giảm giá
0,National Average,52,Rice - Retail,5,KG,4.4920,10%
2,National Average,52,Rice - Retail,5,KG,4.7865,10%
3,National Average,52,Rice - Retail,5,KG,5.1337,10%
4,National Average,52,Rice - Retail,5,KG,5.5099,10%
5,National Average,52,Rice - Retail,5,KG,5.8146,10%
...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,49.1176,10%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,50.8347,10%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,51.7985,10%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,51.6071,10%
7381,NA,RR,Rice,10,KG,84.3785,10%

In [13]:
# Xóa các dòng có chỉ số 7377 và 7379 sử dụng phương thức drop()
df.drop([7377,7379], inplace=True)
df

,Địa điểm,ProductId,Tên SP,UmId,UmName,Price,Giảm giá
0,National Average,52,Rice - Retail,5,KG,4.4920,10%
2,National Average,52,Rice - Retail,5,KG,4.7865,10%
3,National Average,52,Rice - Retail,5,KG,5.1337,10%
4,National Average,52,Rice - Retail,5,KG,5.5099,10%
5,National Average,52,Rice - Retail,5,KG,5.8146,10%
...,...,...,...,...,...,...,...
7375,Izmir,502,Cocoa (powder) - Retail,5,KG,47.4010,10%
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,47.9040,10%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,50.8347,10%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,51.6071,10%
7381,NA,RR,Rice,10,KG,84.3785,10%